* {
    margin: 8px;
}

/* Global Header Styles */
header * {
    margin: 0px;
}

header {
    background-color: var(--footer-background-color);
    color: var(--list-item-color);
    text-align: center;
    padding: 0px;
    margin: 0;
}

/* Component Header Styles */
.hamburger {
    display: block;
    margin: 8px;
}

.nav-menu {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, opacity 0.2s ease-out;
}

.nav-menu.expanded {
    opacity: 1;
    visibility: visible;
    max-height: 300px;
}

header nav ul {
    background-color: var(--nav-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: block;
    width: 100%;
    padding: 8px;
}

header nav ul li:hover {
    filter: brightness(80%);
    background-color: #284262ff;
    transition: background-color 0.3s ease;
}

header nav ul li.active {
    background-color: #b6f4ab;
    pointer-events: none;
    border: 2px black solid;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
}

header nav ul li.active a {
    background-color: #b6f4ab;
    pointer-events: none;
    color: black;
}

header nav ul li.active:hover {
    filter: none;
    background-color: var(--header-color);
    transition: none;
}

header nav ul li a {
    display: block;
    padding: 8px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

header nav ul li a:hover {
    filter: brightness(80%);
    transition: filter 0.3s ease;
}



/* Global Body Styles */
body {
    background-color: var(--background-color);
    font-family: 'Roboto', 'Times New Roman', serif;
    color: var(--font-color);
}

/* Component Body Styles */
body h1,
body h2 {
    color: var(--header-color);
    font-family: 'Arial', sans-serif;
}

body ul {
    list-style-type: none;
    padding: 0;
}

body ul li {
    margin-bottom: 10px;
    color: var(--list-item-color);
}

body .cta {
    color: var(--call-to-action)
}

body a {
    color: black;
}

body a:hover {
    color: var(--link-hover-color);
}

/* Construct Body Styles */
/* Construct Body Styles -- main grid */
body .main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    box-sizing: border-box;
}

/* Construct Body Styles -- main grid -- left col */
body .main-grid .left-col {
    height: 100%;
    box-sizing: border-box;
}

body .main-grid .left-col section {
    height: auto;
}

body .main-grid .left-col section p {
    margin: 16px;
}

body .main-grid .left-col #join-input {
    display: flex;
}

/* Construct Body Styles -- main grid -- Right col */

body .main-grid .right-col section img {
    max-width: 100%;
    height: auto;
    margin: 8px;
    padding: 8px;
    box-sizing: border-box;
}

body .main-grid .right-col section {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}

body .main-grid .right-col #news-headline {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

body .main-grid .right-col #news-headline p {
    margin-top: 16px;
}

body .main-grid .right-col #news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* Footer styles */
footer {
    background-color: var(--footer-background-color);
    color: var(--list-item-color);
    text-align: center;
    padding: 8px;
}

.discovery * {
    margin: 0px;
}

.discovery .columns-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.discovery #column1,
#column2 {
    width: 100%;
}

.discovery #column1 img,
#column2 img,
#column1 picture img,
#column2 picture img {
    width: 100%;
    height: auto;
    margin: 8px;
}

.discovery .borderedsection {
    padding: 8px;
    margin: 4px;
    border: 1px solid white;
    box-sizing: border-box;
}

.discovery .borderedsection h3 {
    padding-bottom: 8px;
}

.discovery .borderedsection p {
    padding: 4px;

}

.discovery .borderedsection img {
    margin: 8px;
    max-width: calc(100% - 16px);
    height: auto;
}

.discoveryimage {
    position: relative;
}


.discoveryimagelabel {
    bottom: calc(25% + 1em);
    left: calc(1% + 1em);
    padding: 5px;
    display: flex;
    justify-content: center;

}

.discoveryimagelabel p {
    padding: 8px;
    color: rgb(19, 19, 19);
    background: linear-gradient(to right, rgb(255, 215, 0), rgb(231, 217, 135));
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.3),
        0px 2px 10px rgba(255, 255, 255, 0.4);
}

.form * {
    -webkit-apperance: none;
}

.form fieldset {
    margin-bottom: 1.5rem;
    padding: 1rem 1rem;
    border: 1px rgb(131, 131, 234) solid;
    border-radius: 10px;
}

.form fieldset>legend {
    color: rgb(131, 131, 234);
    margin: 0 1rem;
    padding: 0 .75rem;
}

.form fieldset>label {
    display: block;
    color: Black;
}

.form fieldset>label>input,
textarea,
select {
    display: block;
    margin-bottom: 1rem;
    min-height: 44px;
    height: 1rem;
    border-radius: 5px;
    padding-left: 0.75rem;
}

.form fieldset>label>input[type=text],
input[type=password],
input[type=email],
textarea,
select {
    background-color: #ebe7e7;
}


.form span.form-required {
    color: var(--call-to-action);
    margin: 0;
    padding: 0;
}

.form fieldset label {
    color: var(--nav-color);
}

.form fieldset>label>input,
textarea,
select {
    margin-top: 0.25rem;
}

.form label>input[type=range] {
    padding-left: 0;
    margin-bottom: 0;
    height: 44px;
}

.form input[type=submit] {
    border: 2px solid var(--nav-color);
    background-color: var(--nav-color);
    color: black;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin-bottom: 1.5rem;
    width: 96%;
    max-width: 20rem;
    box-sizing: border-box;
    cursor: pointer;
}

.form input[type=submit]:hover {
    background-color: var(--linkable-item-background-hover);
    border: 2px solid;
    border-color: var(--linkable-item-hover);
    color: var(--link-hover-color);
    box-sizing: border-box;
}

input.recheck {
    background-color: rgba(255, 100, 100, 0.5) !important;
    border-right: 2px solid rgb(240, 90, 90) !important;
    border-top: 2px solid rgb(240, 90, 90) !important;
    border-bottom: 2px solid rgb(240, 90, 90) !important;
    color: white
}

input.titlecheck {
    border: 1px lightslategrey solid;
    border-left: 6px red solid !important;
}

.form fieldset>label>input:required {
    box-shadow: 0 0 8px red;
}

.form fieldset>label>input:required:valid {
    box-shadow: 0 0 8px green;
}

.membership-level {
    display: flex;
    flex-direction: column;
}

.tier {
    display: none;
}

.tier.visible {
    display: block;
}


/* Variable dictionary */
:root {
    --background-color: #002147;
    --font-color: #FFFFFF;
    --header-color: #7dbbbf;
    --list-item-color: #f9d362;
    --call-to-action: #f9d362;
    --link-color: #f9d362;
    --link-hover-color: #f9d362;
    --nav-color: #699cce;
    --footer-background-color: #284262;
}