:root {
    --default-background-color: #fff;
    /* White cuz lightblue was ugly */
    --default-header-footer-color: #B88B4A;
    /* Golden Brown */
    --default-text-color: #000000;
    /* black because it works with white */
    --default-link-color: #C3D79F;
    /* light green because orange red was too hard to see */
    --default-hover-color: #A27035;
    /* Brownish Orange */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--default-background-color);
    color: var(--default-text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header,
footer {
    background-color: var(--default-header-footer-color);
    color: var(--default-header-footer-color);
    text-align: center;
    padding: 20px;
}

nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    padding: 20px;
    align-items: center;
}

nav ul li {
    padding: 10px;
    background-color: dimgrey;
    border: 1px white solid;
    width: 80%;
    cursor: pointer;
    transition: background-colo 0.3s ease;
}

nav ul li a {
    pointer-events: none;
}

nav ul li:hover {
    background-color: rgb(169, 166, 166);
}

nav ul li:hover a {
    color: var(--default-hover-color);
}

a {
    color: var(--default-link-color);
    text-decoration: none;
}

.main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    margin: auto;
    padding: 16px;
}

#grid-container {
    grid-row: 3;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 80%;
    max-width: 80%;
    padding: 8px;
}

.main-grid h2 {
    text-align: center;
    grid-row: 1;
    grid-column: span 2;
    font-family: 'Aldhabi', serif;
    font-size: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.main-grid #main-line {
    padding-top: 0;
    margin-top: 0;
    grid-row: 2;
    grid-column: span 2;
    width: 90%;
}


.main-grid section {
    border: 1px white solid;
    margin: 8px;
    padding: 0px;
}

.main-grid #grid-container section {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


.main-grid .card .banner h3 {
    text-align: center;
    padding: 0;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
}

.main-grid section hr {
    margin: auto;
    width: 80%;
}

.main-grid .card {
    background-color: bisque;
    margin: 8px;
    min-height: 200px;
    min-width: 250px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.main-grid .card .banner {
    background-color: #779CAB;
    box-sizing: border-box;
    width: 100%;
    order: 1;
}

.main-grid .card ul {
    margin: 8px 8px 8px 0;
    padding: 8px;
    order: 2;
}

.main-grid .card ul li {
    padding-top: 4px;
    padding-bottom: 4px;
}

.main-grid .card #info {
    margin: auto;
    width: fit-content;
}

.main-grid .card #info li {
    margin: auto;
    width: fit-content;

}

.card a {
    color: blue;
}

.card ul {
    list-style-type: none;
}