*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header,
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    width: 100%;
    align-items: center;
}

.active {
    background-color: #9ad99a;
}

nav ul li {
    padding: 10px;
    background-color: #ccc;
    border-top: 3px #f4f4f4 solid;
    border-left: 1.5px #f4f4f4 solid;
    border-right: 1.5px #f4f4f4 solid;
    border-bottom: 3px #f4f4f4 solid;

    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav ul li a {
    pointer-events: none;
}

nav ul li:hover {
    background-color: #a9a6a6;
    border-top: 3px #b4c1fd solid;
    border-left: 1.5px #b4c1fd solid;
    border-right: 1.5px #b4c1fd solid;
    border-bottom: 3px #b4c1fd solid;
    box-sizing: border-box;
}

nav ul li:hover a {
    color: #f4f4f4;
}

a {
    color: #333;
    text-decoration: none;
}

.main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    margin: auto;
    padding: 16px;
}

#grid-container {
    grid-row: 3;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 80%;
    max-width: 80%;
    padding: 8px;
}

.main-grid h2 {
    text-align: center;
    grid-row: 1;
    grid-column: span 2;
    font-family: 'Aldhabi', serif;
    font-size: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.main-grid #main-line {
    padding-top: 0;
    margin-top: 0;
    grid-row: 2;
    grid-column: span 2;
    width: 90%;
}

.main-grid section {
    border: 1px white solid;
    margin: 8px;
    padding: 0px;
}

.main-grid #grid-container section {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.main-grid .card .banner h3 {
    text-align: center;
    padding: 0;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
}

.main-grid section hr {
    margin: auto;
    width: 80%;
}

.main-grid .card {
    background-color: #fff;
    margin: 8px;
    min-height: 200px;
    min-width: 250px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.main-grid .card .banner {
    background-color: #a1d0e2;
    box-sizing: border-box;
    width: 100%;
    order: 1;
}

.main-grid .card ul {
    margin: 8px 8px 8px 0;
    padding: 8px;
    order: 2;
}

.main-grid .card ul li {
    padding-top: 4px;
    padding-bottom: 4px;
}

.main-grid .card #info {
    margin: auto;
    width: fit-content;
}

.main-grid .card #info li {
    margin: auto;
    width: fit-content;
}

.card a {
    color: #a32e2e;
    color:
}

.card ul {
    list-style-type: none;
}

#lastModified {
    color: yellow;
}