*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

main {
    margin-bottom: 1.5rem;
}

header,
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    width: 100%;
    align-items: center;
}

.active {
    background-color: #9ad99a;
}

.active a {
    font-weight: bold;
}

nav ul li {
    padding: 10px;
    background-color: var(--linkable-item-border);
    border-top: 3px var(--link-hover-color) solid;
    border-left: 1.5px var(--link-hover-color) solid;
    border-right: 1.5px var(--link-hover-color) solid;
    border-bottom: 3px var(--link-hover-color) solid;

    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav ul li a {
    pointer-events: none;
}

nav ul li:hover {
    background-color: var(--linkable-item-background-hover);
    border-top: 3px var(--linkable-item-hover) solid;
    border-left: 1.5px var(--linkable-item-hover) solid;
    border-right: 1.5px var(--linkable-item-hover) solid;
    border-bottom: 3px var(--linkable-item-hover) solid;
    box-sizing: border-box;
}

nav ul li:hover a {
    color: var(--link-hover-color);
}

a {
    color: #333;
    text-decoration: none;
}

#hero-temple {
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
}

.herolabel {
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 5%;
    max-width: 80%;
    min-width: 20%;
    min-height: 5%;
    max-height: 5%;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 10px;
    font-size: smaller;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.856;
}

.main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    margin: 16px;
    padding: 16px;
}

#grid-container {
    grid-row: 3;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 80%;
    max-width: 80%;
    padding: 8px;
}

.main-grid h2 {
    text-align: center;
    grid-row: 1;
    grid-column: span 2;
    font-family: 'Aldhabi', serif;
    font-size: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.main-grid #main-line {
    padding-top: 0;
    margin-top: 0;
    grid-row: 2;
    grid-column: span 2;
    width: 90%;
}

.main-grid section {
    border: 1px white solid;
    margin: 8px;
    padding: 0px;
}

.main-grid #grid-container section {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.main-grid .card .banner h3 {
    text-align: center;
    padding: 0;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
}

.main-grid section hr {
    margin: auto;
    width: 80%;
}

.main-grid .card {
    background-color: #fff;
    margin: 8px;
    min-height: 200px;
    min-width: 250px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.main-grid .card .banner {
    background-color: #a1d0e2;
    box-sizing: border-box;
    width: 100%;
    order: 1;
}

.main-grid .card ul {
    margin: 8px 8px 8px 0;
    padding: 8px;
    order: 2;
}

.main-grid .card ul li {
    padding-top: 4px;
    padding-bottom: 4px;
}

.main-grid .card #info {
    margin: auto;
    width: fit-content;
}

.main-grid .card #info li {
    margin: auto;
    width: fit-content;
}

.card a {
    color: #a32e2e;
}

.card ul {
    list-style-type: none;
}

#lastModified {
    color: yellow;
}

.hamburger {
    display: block;
}

.nav-menu {
    display: none;
}

.nav-menu.open {
    display: block;
}

.card li a {
    color: blue;
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 4;
    grid-column: span 3;
    border: 2px black solid;
    margin: 16px;
    margin-bottom: 16px;
    height: 100%;
    width: 100%;
}

#map iframe {
    height: 100%;
    width: 100%;
}

body.darkmode {
    background-color: #444242;
    color: #e1d9d9;
}

.darkmode .main-grid .card {
    background-color: #322e2e;
}

.darkmode .main-grid .card .banner {
    background-color: #19556d;
}

.darkmode .card li a {
    color: rgb(92, 92, 228);
}

.darkmode .nav-menu {
    background-color: #444242;
}

.darkmode nav ul li {
    background-color: var(--linkable-item-border);
    border-top: 3px #444242 solid;
    border-left: 1.5px #444242 solid;
    border-right: 1.5px #444242 solid;
    border-bottom: 3px #444242 solid;
    box-sizing: border-box;
}

.darkmode nav ul li:hover {
    background-color: var(--linkable-item-background-hover);
    border-top: 3px var(--linkable-item-hover) solid;
    border-left: 1.5px var(--linkable-item-hover) solid;
    border-right: 1.5px var(--linkable-item-hover) solid;
    border-bottom: 3px var(--linkable-item-hover) solid;
    box-sizing: border-box;
}

.darkmode .active {
    background-color: #3b5e3b;
}

.darkmode .active a {
    color: #fafafa;
}

.herolabel p {
    color: black;
}

.darkmode .herolabel p {
    color: black;
}

.form * {
    -webkit-apperance: none;
}

.form fieldset {
    margin-bottom: 1.5rem;
    padding: 1rem 1rem;
    border: 1px rgb(94, 94, 193) solid;
    border-radius: 10px;
}

.form fieldset>legend {
    color: rgb(94, 94, 193);
    margin: 0 1rem;
    padding: 0 .75rem;
}

.form fieldset>label {
    display: block;
    color: Black;
}

.form fieldset>label>input {
    display: block;
    margin-bottom: 1rem;
    min-height: 44px;
    height: 1rem;
    border-radius: 5px;
    padding-left: 0.75rem;
}

.form fieldset>label>input[type=text],
input[type=password],
input[type=email] {
    background-color: #ebe7e7;
}

.form fieldset>label>input:required {
    border: 1px lightslategrey solid;
    border-left: 6px red solid;
}

.form fieldset>label>input:required:valid {
    border-left: 6px rgb(53, 135, 36) solid;
}

.form span.form-required {
    color: red;
}

.form label>input[type=range] {
    padding-left: 0;
    margin-bottom: 0;
    height: 44px;
}

.form input[type=submit] {
    border: 2px solid var(--linkable-item-border);
    background-color: var(--linkable-item-border);
    color: black;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin-bottom: 1.5rem;
    width: 96%;
    max-width: 20rem;
    box-sizing: border-box;
}

.form input[type=submit]:hover {
    background-color: var(--linkable-item-background-hover);
    border: 2px solid;
    border-color: var(--linkable-item-hover);
    color: var(--link-hover-color);
    box-sizing: border-box;
}

input.recheck {
    background-color: rgba(255, 100, 100, 0.5) !important;
    border: 2px solid rgb(240, 90, 90) !important;
}

:root {
    --link-hover-color: #f4f4f4;
    --linkable-item-border: #ccc;
    --linkable-item-hover: #b4c1fd;
    --linkable-item-background-hover: #a9a6a6;
}