*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main a {
    color: blue;
}

main a:hover {
    color: purple;
}

header,
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

footer {
    margin-top: 8px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

nav {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.active {
    background-color: #9ad99a;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4);
    pointer-events: none;

}

.active a {
    text-decoration: underline;
    pointer-events: none;
}

.active:hover {
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4);
    background-color: #9ad99a;
    pointer-events: none;
    cursor: default;
}

li.direct {
    background-color: lightblue;
}

li.direct:hover {
    background-color: rgb(76, 94, 100);
    cursor: pointer;
}

.active a {
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.active:hover a {
    color: #333;
    cursor: default;
}

li.disabled {
    background-color: rgb(186, 73, 73);
    cursor: default;
    position: relative;
}

li.disabled a {
    pointer-events: none;
    color: black;
    position: relative;
}


li.disabled a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: transparent;
    transition: color 0.3s ease;
}

li.disabled:hover {
    background-color: rgb(87, 3, 3);
    border-top: 3px coral solid;
    border-left: 1.5px coral solid;
    border-right: 1.5px coral solid;
    border-bottom: 3px coral solid;
    cursor: pointer;
}

li.disabled:hover a {
    color: rgba(0, 0, 0, 0.5);
}

li.disabled:hover a::after {
    content: "Not Available";
    color: coral;

}

li.disabled a::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: transparent;
    transition: color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.direct {
    background-color: rgb(129, 185, 204);
    cursor: default;
    position: relative;
}

li.direct a {
    color: black;
    position: relative;
}

li.direct a::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: transparent;
    transition: color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.direct:hover {
    background-color: rgb(76, 94, 100);
    border-top: 3px lightblue solid;
    border-left: 1.5px lightblue solid;
    border-right: 1.5px lightblue solid;
    border-bottom: 3px lightblue solid;
}

li.direct:hover a {
    color: rgba(0, 0, 0, 0.25);
}

li.direct:hover a::after {
    content: "Click to View Image";
    color: lightblue;
}

li {
    height: 3rem;
    text-align: center;
    padding: 0;
}

nav ul li {
    padding: 0px;
    background-color: #ccc;
    border-top: 3px #333 solid;
    border-left: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
    border-bottom: 3px #333 solid;
    width: 100%;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

nav ul li a {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}


nav ul li:hover {
    background-color: #a9a6a6;
    border-top: 3px #b4c1fd solid;
    border-left: 1.5px #b4c1fd solid;
    border-right: 1.5px #b4c1fd solid;
    border-bottom: 3px #b4c1fd solid;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 8px;
    padding: 20px;
    line-height: 1.6;
}

body h1 {
    margin: 8px;
    padding: 8px;
}

main {
    margin: 8px;
}